body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #f4fafc;
}

h1.title {
  background: #333;
  color: #fff;
  padding: 15px;
  margin: 0;
  border-bottom: 1px solid #fff;
  font-weight: normal;
}

.container {
  padding: 15px;
  display: block;
}

h3,
h4 {
  padding: 5px 0;
  margin: 0;
}
